.div-backgroundBox-register{
    position: absolute;
    width: 65vw;
    height: 40vh;
    min-height: 500px;
    min-width: 400px;
    max-width: 600px;
}

.div-backgroundBox2-register{
    position: absolute;
    width: 65vw;
    height: 40vh;
    min-height: 500px;
    min-width: 400px;
    max-width: 600px;
    background-color: rgba(34, 47, 62, 0.9);
    top: 0;
    left: 0;
    z-index: 0.1;
    border-radius: 10px;
    border: 2px solid #40A9FF;
    -webkit-box-shadow: 8px 12px 32px 5px #000000; 
    box-shadow: 8px 12px 32px 5px #000000;
}

label.ant-form-item-required{
    color: #c8d6e5 !important;
}

@media only screen and (max-width: 570px) {
    
    .div-backgroundBox-register{
        min-height: 620px;
        min-width: 100%;
    }
    .div-backgroundBox2-register{
        min-height: 620px;
        min-width: 100%;
    }

}