.div-vieingPage-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -5px;
    padding-bottom: 400px;
    padding-top: 30px;
}

.input-viewingPage-all{
    width: 100%;
    padding: 5px;
}

.div-viewingPage-titleMain{

}

.div-viewingPage-main-title{
    text-align: center;
}

.title-viewingPage-main{
    color: #d1e0f0 !important;
    z-index: 2;
    font-weight: bolder;
    vertical-align: middle;
}

.image-gallery{
    width: 90vw;
    background-color: #00000091;
    z-index: 1;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #000000;
    -webkit-box-shadow: 8px 12px 32px 5px #000000; 
    box-shadow: 8px 12px 32px 5px #000000;
}

.title-viewingPage-title{
    color: #ffffff !important;
    z-index: 2;
}

.title-viewinpage-smaller{
    color: #c8d6e5 !important;
    z-index: 2;
}

.label-viewingpage-display{
    color: #f3f3f3 !important;
    z-index: 2;
}

.div-viewingPage-description{
    background-color: #00000091;
    z-index: 1;
    word-wrap: break-word;
    margin-top: 20px;
    border: 2px solid;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #000000;
    -webkit-box-shadow: 8px 12px 32px 5px #000000; 
    box-shadow: 8px 12px 32px 5px #000000;
}

.div-backgroundBox-viewingPage{
    width: 95%;
    border-radius: 10px;
    border: 2px solid #40A9FF;
    -webkit-box-shadow: 8px 12px 32px 5px #000000; 
    box-shadow: 8px 12px 32px 5px #000000;
    padding: 50px;
    margin-left: 0px;
    margin-right: 2px;
    background-color: rgba(34, 47, 62, 0.9);
    background-clip: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-viewingPage-line{
    background-color: #04958b9a;
    width: 97%;
    height: 8px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 25px;
    border: 1px solid #1E252E;
}

@media only screen and (max-width: 570px) {
    
    .div-backgroundBox-viewingPage{
        min-height: 500px;
        min-width: 100%;
    }
    .div-backgroundBox2-viewingPage{
        min-height: 500px;
        min-width: 100%;
    }

}